services:
  api:
    build:
      context: ..
      dockerfile: deploy/task/Dockerfile
    restart: always
    ports:
      - "8000:8000"
    networks:
      - internal

networks:
  internal:
    driver: bridge
